---
import Footer from "../components/Footer.astro";
import "../styles/utils/global.css";
import Menu from "../components/Menu.astro";
const {pageTitle} = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="flex flex-col min-h-screen">
			<main class="flex-grow bg-rose-100 h-full">
				<div class="flex  h-full">
					<div class="bg-rose-100 flex flex-col items-center justify-center h-full">
						<Menu layout="flex-col"></Menu>
					</div>
					<div class="bg-white h-full overflow-y-auto">
						<slot></slot>
					</div>
				</div>
			</main>
			<footer class="w-full bg-rose-500 text-white">
				<Footer></Footer>
			</footer>
	</body>	  
</html>
