---
import { Icon } from 'astro-icon/components';
const { icon, label, path } = Astro.props;
---

<button class="w-15 h-15 md:w-20 md:h-20 lg:w-24 lg:h-24 xl:w-28 xl:h-28 
        rounded-full bg-rose-500 hover:bg-rose-500/40 hover:border-4 hover:border-rose-500 
        backdrop-blur-md shadow-lg flex justify-center items-center 
        hover:animate-spin transition-all duration-300"
><a href={path}><Icon name={icon} class=" text-white size-6 md:size-8 hover:text-rose-500 hover:size-10 "/></a>
</button>
