---
---
<footer class="bg-rose-400 text-white py-4 text-center hover:animate-pulse h-full">
    <p>© 2024 Mafe Pardo. Todos los derechos reservados.</p>
    <p>
        Desarrollado con ❤️,  
        <a href="https://astro.build" class="underline hover:text-rose-500" target="_blank">Astro </a> y
        <a href="https://tailwindcss.com" class="underline hover:text-rose-500" target="_blank">Tailwind CSS</a>.
    </p>
</footer>