---
import Menu from "./Menu.astro";


---

<div id="container" class="p-10 bg-rose-500 text-white flex flex-col items-center space-y-4 md:space-y-6  shadow-lg">
	<h1 class="text-4xl font-bold">MAFE PARDO</h1>
	<h3 class="text-2xl">Desarrolladora de Software</h3>
	<h4 class="text-xl italic">Backend & Frontend</h4>
	<Menu></Menu>
</div>

